<a href="https://colab.research.google.com/github/UdaraN98/Data-Mining-Project/blob/main/DM_project_V0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Merging the data and doing preprocessing of the data

In [32]:
#importing relevant modules

import pandas as pd

In [33]:
#loading data as pandas dataframes
train_df = pd.read_csv("train_submissions.csv")
prob_df = pd.read_csv("problem_data.csv")
user_df = pd.read_csv("user_data.csv")
test_df = pd.read_csv("test_submissions_NeDLEvX.csv")

In [34]:
#merging test data with users and problems dataframes

test = test_df.merge(prob_df, on ='problem_id')
test = test.merge(user_df, on = 'user_id')
test.head()

,ID,user_id,problem_id,level_type,points,tags,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_856_prob_5822,user_856,prob_5822,L,NaN,NaN,274,231,0,India,35,1503233908,393.062,362.959,intermediate,1422163139
1,user_856_prob_6173,user_856,prob_6173,B,1000.0,"implementation,sortings",274,231,0,India,35,1503233908,393.062,362.959,intermediate,1422163139
2,user_856_prob_5781,user_856,prob_5781,A,500.0,"implementation,math",274,231,0,India,35,1503233908,393.062,362.959,intermediate,1422163139
3,user_856_prob_3438,user_856,prob_3438,A,500.0,implementation,274,231,0,India,35,1503233908,393.062,362.959,intermediate,1422163139
4,user_856_prob_1868,user_856,prob_1868,A,500.0,"implementation,strings",274,231,0,India,35,1503233908,393.062,362.959,intermediate,1422163139

In [35]:
#confirming no duplicated values in the test data set

test.duplicated().sum()

0

In [ ]:
#taking out the test id

testID = test.pop('ID')

In [38]:
#merging train daa with problems and users

train = train_df.merge(prob_df, on = 'problem_id')
train = train.merge(user_df, on = 'user_id')

train.head()

,user_id,problem_id,attempts_range,level_type,points,tags,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_232,prob_6507,1,B,1000.0,strings,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
1,user_232,prob_5071,4,A,500.0,implementation,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
2,user_232,prob_703,2,A,500.0,"brute force,implementation",53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
3,user_232,prob_3935,1,C,1000.0,"greedy,sortings",53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
4,user_232,prob_164,2,A,500.0,"brute force,constructive algorithms,math",53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935

In [39]:
#confirming there is no duplicated values in the train dataset

train.duplicated().sum()

0

Dealing with all null values in both train and test data

In [40]:
train.isna().sum()

user_id                          0
problem_id                       0
attempts_range                   0
level_type                     620
points                       29075
tags                         15427
submission_count                 0
problem_solved                   0
contribution                     0
country                      37853
follower_count                   0
last_online_time_seconds         0
max_rating                       0
rating                           0
rank                             0
registration_time_seconds        0
dtype: int64

In [41]:
test.isna().sum()

user_id                          0
problem_id                       0
level_type                     285
points                       12484
tags                          6612
submission_count                 0
problem_solved                   0
contribution                     0
country                      16162
follower_count                   0
last_online_time_seconds         0
max_rating                       0
rating                           0
rank                             0
registration_time_seconds        0
dtype: int64

Filling the null values with the help of insights that are taken in deep data analysis

In [42]:
#level_type is filled with the most common class; class A
train["level_type"].fillna("A", inplace = True)
test["level_type"].fillna("A", inplace = True)

In [43]:
#country is filled with most common class; "India"
train["country"].fillna('India',inplace=True)
test["country"].fillna('India',inplace=True)

In [44]:
#points is filled with average value of 500
train["points"].fillna('500',inplace=True)
test["points"].fillna('500',inplace=True)

In [45]:
#confirming no null values in both datasets
print(train.isna().sum())
print(test.isna().sum())

user_id                          0
problem_id                       0
attempts_range                   0
level_type                       0
points                           0
tags                         15427
submission_count                 0
problem_solved                   0
contribution                     0
country                          0
follower_count                   0
last_online_time_seconds         0
max_rating                       0
rating                           0
rank                             0
registration_time_seconds        0
dtype: int64
user_id                         0
problem_id                      0
level_type                      0
points                          0
tags                         6612
submission_count                0
problem_solved                  0
contribution                    0
country                         0
follower_count                  0
last_online_time_seconds        0
max_rating                      0
rating                          0
rank                            0
registration_time_seconds       0
dtype: int64

In [46]:
#onehot encoding the tag column so that one class is defined to null tags
train= pd.concat([train.drop('tags', axis=1), train.tags.str.get_dummies(sep=',').add_prefix('tag_')],1)
test= pd.concat([test.drop('tags', axis=1), test.tags.str.get_dummies(sep=',').add_prefix('tag_')],1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
#checking for null values in the data
print(train.isna().sum().any())
print(test.isna().sum().any())

False
False

Encoding the categorical features

In [48]:
import sklearn
from sklearn.preprocessing import LabelEncoder

In [49]:
label = LabelEncoder()
train["level_type"]=label.fit_transform(train["level_type"])
test["level_type"]=label.fit_transform(test["level_type"])

In [50]:
train["country"]=label.fit_transform(train["country"])
test["country"]=label.fit_transform(test["country"])

In [51]:
train["rank"]=label.fit_transform(train["rank"])
test["rank"]=label.fit_transform(test["rank"])

In [52]:
#converting userid,problem id and points to integer columns

train.user_id=train.user_id.str[5:].astype(int)
test.user_id=test.user_id.str[5:].astype(int)


train.problem_id=train.problem_id.str[5:].astype(int)
test.problem_id=test.problem_id.str[5:].astype(int)

In [53]:
train.points=train.points.astype(int)
test.points=test.points.astype(int)

Splitting the data and training a simple model

In [54]:
#splitting the data

target=train.attempts_range
x=train.drop('attempts_range',axis=1)
y=test

In [66]:
#initiation of a random forest classifier

from sklearn.ensemble import RandomForestClassifier

model0 = RandomForestClassifier(max_depth = 25, random_state = 0)
model0.fit(x, target)

RandomForestClassifier(max_depth=25, random_state=0)

In [67]:
#evaluating the model

pred0  = model0.predict(x)

In [69]:
#checking the F1 score of the model

from sklearn.metrics import f1_score, accuracy_score

f1_score(target,pred0, average = "weighted")

#accuracy_score(target, pred0)

0.8776879811776824